<!doctype html>

<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<dom-module id="oudjo-settings">
  <style>

    :host {
      display: block;

      height: 100%;
      width: 100%;
      max-width: 960px;
    }

    #container {
      width: 100%;
      height: 100%;
    }

    #card {
      width: 100%;
      height: 100%;

      padding: 16px;

      overflow-y: auto;
    }

    .title {
      @apply(--paper-font-headline);
      margin-bottom: 16px;
    }

  </style>
  <template>
    <div id="container">
      <paper-material id="card" elevation="4">
        <div class="title">General</div>
        <div>
          <span>Port: </span>
          <span>[[ settings.port ]]</span>
        </div>
      </paper-material>
    </div>
  </template>
</dom-module>

<script src="oudjo-settings.js"></script>
