<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="../oudjo-controller/oudjo-controller.html">
<link rel="import" href="../oudjo-queue/oudjo-queue.html">

<dom-module id="oudjo-now-playing">
  <style>

  #container {
    height: 100%;
  }

  paper-tabs {
    --paper-tabs-selection-bar-color: var(--paper-lime-a200);
    background: var(--paper-light-green-500);
    color: white;

    height: 48px;
  }

  iron-pages {
    width: 100%;
    height: 100%;
  }

  .page {
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);

    height: 100%;
    width: 100%;
  }

  oudjo-controller {
    width: 100%;
  }

  </style>

  <template>
    <div id="container">
      <paper-tabs attr-for-selected="name" selected="{{ tab }}">
        <paper-tab name="now-playing">Now playing</paper-tab>
        <paper-tab name="queue">Queue</paper-tab>
      </paper-tabs>
      <iron-pages
        id="pages"
        attr-for-selected="name"
        selected="{{ tab }}">
        <div class="page" name="now-playing">
          <oudjo-controller></oudjo-controller>
        </div>
        <div class="page" name="queue">
          <oudjo-queue></oudjo-queue>
        </div>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="oudjo-now-playing.js"></script>
