<style is="custom-style">

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--paper-grey-50);

  margin: 0;
  height: 100vh;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content-panel {
  @apply(--layout-fit);
}

paper-toolbar {
  --paper-toolbar-background: var(--paper-light-green-500);
}

paper-item {
  opacity: var(--dark-primary-opacity);
}

paper-item iron-icon {
  margin-right: 5px;
}

.menu-subhead {
  margin-top: 16px;
  margin-left: 16px;

  @apply(--paper-font-subhead);
  opacity: var(--dark-secondary-opacity);
}

#controller-container {
  width: 100%;

  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}

oudjo-controller {
  width: 100%;
  max-width: 720px;
}

#bar-container {
  position: fixed;
  bottom: 0px;
  width: 100%;

  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}

oudjo-bar {
  width: 100%;
  max-width: 720px;
}

oudjo-library {
  @apply(--layout-fit);
}

</style>
