<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">

<link rel="import" href="../oudjo-song/oudjo-song.html">

<dom-module id="oudjo-library-songs">
  <style>

  #card {
    @apply(--layout-vertical);
  }

  #container-shuffle{
    @apply(--layout-horizontal);
    @apply(--layout-center);
    @apply(--paper-font-subhead);
    padding: 16px;
    color: var(--paper-light-green-500);
  }

  #container-shuffle iron-icon {
    margin-right: 8px;
  }

  paper-ripple {
    z-index: 10;
    height: 56px;
  }

  </style>
  <template>
    <div>
      <iron-ajax
        url="/library"
        last-response="{{ librarySource }}"
        auto>
      </iron-ajax>
      <paper-material id="card" elevation="4">
        <div id="container-shuffle">
          <iron-icon icon="av:shuffle"></iron-icon>
          <div>Shuffle all</div>
          <paper-ripple></paper-ripple>
        </div>
        <iron-list items="[[ librarySource ]]" as="song">
          <template>
            <oudjo-song
              song-id="[[ song._id ]]"
              song-title="[[ song.title ]]"
              song-artist="[[ song.artist ]]"
              song-album="[[ song.album ]]"
              song-year="[[ song.year ]]"
              song-length="0:00">
            </oudjo-song>
          </template>
        </iron-list>
      </paper-material>
    </div>
  </template>
</dom-module>

<script src="oudjo-library-songs.js"></script>
