<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../oudjo-song/oudjo-song.html">

<dom-module id="oudjo-library-songs">
  <style>

  #card {
    @apply(--layout-vertical);
    height: 100%;
  }

  iron-list {
    height: 100%;
  }

  paper-button {
    @apply(--layout-horizontal);
    @apply(--layout-start);

    color: var(--default-primary-color);
  }

  </style>

  <template>
    <paper-material id="card" elevation="4">
      <paper-button on-click="_onShuffleAllClick">
        <iron-icon icon="av:shuffle"></iron-icon>
        Shuffle all
      </paper-button>
      <iron-list items="[[ database ]]" as="song">
        <template>
          <oudjo-song
            song-id="[[ song._id ]]"
            song-title="[[ song.title ]]"
            song-artist="[[ song.artist ]]"
            song-album="[[ song.album ]]"
            song-year="[[ song.year ]]"
            song-length="[[ song.length ]]">
          </oudjo-song>
        </template>
      </iron-list>
    </paper-material>
  </template>
</dom-module>

<script src="oudjo-library-songs.js"></script>
