<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<dom-module id="oudjo-library">
  <style>

  paper-tabs {
    --paper-tabs-selection-bar-color: var(--paper-lime-a200);
    background: var(--paper-light-green-500);
    color: white;
  }

  </style>
  <template>
    <paper-tabs attr-for-selected="name" selected="{{ tab }}">
      <paper-tab name="songs">Songs</paper-tab>
      <paper-tab name="artists">Artists</paper-tab>
      <paper-tab name="albums">Albums</paper-tab>
    </paper-tabs>

    <neon-animated-pages
      attr-for-selected="name"
      selected="{{ tab }}"
      entry-animation="slide-from-right-animation"
      exit-animation="slide-left-animation">

      <neon-animatable name="songs">Songs</neon-animatable>
      <neon-animatable name="artists">Artists</neon-animatable>
      <neon-animatable name="albums">Albums</neon-animatable>
    </neon-animated-pages>
  </template>
</dom-module>

<script src="oudjo-library.js"></script>
