<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="../oudjo-library-songs/oudjo-library-songs.html">

<dom-module id="oudjo-library">
  <style>

  #container {
    height: 100%;
    overflow: hidden;
  }

  paper-tabs {
    --paper-tabs-selection-bar-color: var(--paper-lime-a200);
    background: var(--paper-light-green-500);
    color: white;

    height: 48px;
  }

  iron-pages {
    width: 100%;
    height: 100%;
  }

  .page {
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);

    height: 100%;
  }

  oudjo-library-songs {
    max-width: 960px;
    width: 100%;
    height: 100%;
  }

  </style>

  <template>
    <iron-ajax
      url="/library"
      on-response="_dataReceived"
      handle-as="json"
      auto>
    </iron-ajax>
    <div id="container">
      <paper-tabs attr-for-selected="name" selected="{{ tab }}">
        <paper-tab name="songs">Songs</paper-tab>
        <paper-tab name="artists">Artists</paper-tab>
        <paper-tab name="albums">Albums</paper-tab>
      </paper-tabs>
      <iron-pages
        id="pages"
        attr-for-selected="name"
        selected="{{ tab }}">
        <div class="page" name="songs">
          <oudjo-library-songs id="library-songs"></oudjo-library-songs>
        </div>
        <div class="page" name="artists">
          <paper-material elevation="2">
            <div>Artists</div>
          </paper-material>
        </div>
        <div class="page" name="albums">
          <paper-material elevation="2">
            <div>Albums</div>
          </paper-material>
        </div>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="oudjo-library.js"></script>
