<!DOCTYPE html>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/core-list/core-list.html">
<link rel="import" href="../../bower_components/core-image/core-image.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<polymer-element name="oudjo-play-queue">
    <template>
        <link href="oudjo-play-queue.css" rel="stylesheet">

        <div horizontal layout end-justified fit>
            <core-list data="{{data}}" fit>
                <template>
                    <div id="song-{{model.id}}-{{index}}" class="root" layout horizontal center>
                        <core-image src="/song/{{model.id}}/art" sizing="contain" preload
                            fade placeholder="../../res/oudjo-album-art.png"></core-image>

                        <div>
                            <div id="song-title">{{model.title}}</div>
                            <div id="song-artist">{{model.artist}}</div>
                        </div>

                        <span flex></span>

                        <paper-icon-button icon="close" on-tap="{{removeFromQueue}}">
                        </paper-icon-button>
                    </div>
                </template>
            </core-list>

            <div horizontal layout end-justified end>
                <paper-fab id="button-shuffle" icon="av:shuffle"></paper-fab>
            </div>
        </div>
    </template>
    <script src="oudjo-play-queue.js"></script>
</polymer-element>
