<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../oudjo-album-art/oudjo-album-art.html">

<dom-module id="oudjo-song">
  <style>

  #container {
    @apply(--layout-horizontal);
    @apply(--layout-center);

    padding-right: 8px;
  }

  oudjo-album-art {
    width: 72px;
    height: 72px;
    margin-right: 8px;
  }

  .info {
    @apply(--layout-flex);
    margin-right: 16px;
  }

  .info-container {
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
  }

  </style>

  <template>
    <div id="container">
      <oudjo-album-art song-id="{{ songId }}"></oudjo-album-art>
      <div class="info">{{ songTitle }}</div>
      <div class="info" id="info-album">{{ songAlbum }}</div>
      <div class="info">{{ songArtist }}</div>
      <div class="info info-container" id="year-container">
        <div id="info-year">{{ songYear }}</div>
      </div>
      <div id="info-length">{{ _songLengthCalculated }}</div>
    </div>
  </template>
</dom-module>

<script src="oudjo-song.js"></script>
