.container {
    background: #8bc34a; /* Light Green 500 */
    width: 256px;
}

#album-art {
    width: 256px;
    height: 256px;
}

#song-info {
    padding: 14px;
    background: #cddc39; /* Lime 500 */
}

.song-info-shadow {
    top: -4px;
}

#song-title {
    margin-left: 5px;

    font-family: Roboto-Medium, sans-serif;
    font-size: 24px;
    color: #000000;
    opacity: 0.87;

    white-space: nowrap;
}

#song-artist {
    margin-left: 5px;

    font-size: 16px;
    color: #000000;
    opacity: 0.87;

    white-space: nowrap;
}

.control-button {
    margin-left: 0px;
    margin-right: 0px;
    color: #eeff41; /* Lime A200 */
}

.control-button::shadow #ripple {
    color: #c6ff00; /* Lime A400 */
}

/* Progress bar color */
#song-progressbar::shadow #activeProgress {
    background-color: #eeff41; /* Lime A200 */
}

/* Volume slider progress color */
#volume-slider::shadow #sliderBar::shadow #activeProgress {
    background-color: #eeff41; /* Lime A200 */
}

/* Volume slider knob color */
#volume-slider::shadow #sliderKnobInner {
    background-color: #eeff41; /* Lime A200 */
}

#button-mute {
    margin: 5px;
    color: #eeff41; /* Lime A200 */
}

#button-mute::shadow #ripple {
    color: #c6ff00; /* Lime A400 */
}
