<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

        <!-- Lime 500 -->
        <meta name="theme-color" content="#cddc39;">

        <title>oudjo</title>

        <!-- Polymer -->
        <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
        <link rel="import" href="bower_components/polymer/polymer.html">

        <!-- JQuery -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Fonts -->
        <link
            href="http://fonts.googleapis.com/css?family=Roboto:400,700italic,900italic,500italic,400italic,300italic,100italic,900,700,300,100,500"
            rel="stylesheet" type="text/css">

        <!-- Polymer components -->
        <link rel="import" href="polymer-imports.html">

        <!-- Custom components -->
        <link rel="import"
            href="custom_components/oudjo-controller/oudjo-controller.html">
        <link rel="import"
            href="custom_components/oudjo-library/oudjo-library.html">

        <script src="app.js"></script>
        <link href="index.css" rel="stylesheet">
    </head>

    <body fullbleed>
        <template is="auto-binding" id="app">
            <!-- Main drawer panel -->
            <core-drawer-panel id="drawer-panel" responsivewidth="1250px">

                <!-- Menu drawer -->
                <paper-shadow z="1" drawer>
                    <core-menu drawer selected="{{page}}" valueattr="page-category"
                        on-core-select="{{pageChanged}}">

                        <div class="nav-drawer-subheader">Your music</div>

                        <core-item label="Library" page-category="library"
                            icon="av:my-library-music" class="nav-drawer-list-item">
                        </core-item>
                        <core-item label="Play queue" page-category="play-queue"
                            icon="av:queue-music" class="nav-drawer-list-item">
                        </core-item>

                        <hr />

                        <core-item label="Settings" page-category="settings"
                            icon="settings" class="nav-drawer-list-item">
                        </core-item>
                    </core-menu>
                </paper-shadow>

                <!-- Controller drawer -->
                <core-drawer-panel id="controller-drawer" drawerwidth="281px"
                    responsivewidth="1250px" main rightdrawer>

                    <core-header-panel drawer>
                        <core-toolbar></core-toolbar>
                        <oudjo-controller></oudjo-controller>
                    </core-header-panel>

                    <core-header-panel main>
                        <!-- Main toolbar -->
                        <core-toolbar>
                            <paper-icon-button id="navicon"
                                icon="menu" class="font-title">
                            </paper-icon-button>
                            <div class="font-title">{{pageLabel}}</div>
                            <span flex></span>
                            <paper-icon-button id="open-controller-button"
                                icon="av:equalizer" class="font-title">
                            </paper-icon-button>
                        </core-toolbar>

                        <!-- Main content area -->
                        <div class="content" fit>
                            <core-pages selected="{{page}}" valueattr="page-category" fit>
                                <section page-category="library" fit>
                                    <oudjo-library fit></oudjo-library>
                                </section>
                                <section page-category="play-queue" fit>
                                    <div>Play queue</div>
                                </section>
                                <section page-category="settings" fit>
                                    <div>Settings</div>
                                </section>
                            </core-pages>
                        </div>
                    </core-header-panel>
                </core-drawer-panel>
            </core-drawer-panel>
        </template>
    </body>
</html>
